<p style="color: green"><%= notice %></p>

<%= render @list_five_trash_metal_best_band %>

<div>
  <%= link_to "Edit this list five trash metal best band", edit_list_five_trash_metal_best_band_path(@list_five_trash_metal_best_band) %> |
  <%= link_to "Back to list five trash metal best bands", list_five_trash_metal_best_bands_path %>

  <%= button_to "Destroy this list five trash metal best band", @list_five_trash_metal_best_band, method: :delete %>
</div>
